<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kai.kaidong">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.CardListActivity"></activity>
        <activity android:name=".activity.CardActivity" />
        <activity android:name=".activity.MarqueeActivity" />
        <activity android:name=".activity.LibActivity" />
        <activity android:name=".activity.VideoPlayActivity" />
        <activity android:name=".activity.TablayoutActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".splsah.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>