<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kai.kaidong">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".app.ECApplication"
        android:allowBackup="true"
        android:icon="@drawable/add"
        android:label="花里胡哨"
        android:roundIcon="@drawable/add"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.XinDongFangActivity"></activity>
        <activity android:name=".activity.SActivity" />
        <activity android:name=".activity.ImmersiveActivity" />
        <activity android:name=".activity.WaterfallActivity" />
        <activity android:name=".activity.ArcSeekBarActivity" />
        <activity android:name=".activity.TwoPageLayoutActivity" />
        <activity android:name=".activity.ScllRecyActivity" />
        <activity android:name=".activity.RecyclerviewActivity" />
        <activity android:name=".activity.DouYinActivity" />
        <activity android:name=".activity.AudActivity" />
        <activity android:name=".activity.XianActivity" />
        <activity android:name=".activity.MvpActivity" />
        <activity android:name=".easeuiactivity.AddContactActivity" />
        <activity android:name=".activity.EaseUIMainActivity" />
        <activity android:name=".activity.ECChatActivity" />
        <activity android:name=".activity.EaseUiFeaturesActivity" />
        <activity android:name=".activity.RingletterRegistrationloginActivity" />
        <activity android:name=".activity.ScratchCardActivity" />
        <activity android:name=".activity.StacklabelviewActivity" />
        <activity android:name=".activity.CardListActivity" />
        <activity android:name=".activity.CardActivity" />
        <activity android:name=".activity.MarqueeActivity" />
        <activity android:name=".activity.LibActivity" />
        <activity android:name=".activity.VideoPlayActivity" />
        <activity android:name=".activity.TablayoutActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.BlobActivity" />
        <activity android:name=".activity.BlastActivity" />
        <activity android:name=".activity.WaveActivity" />
        <activity android:name=".activity.BarActivity" />
        <activity android:name=".activity.MusicStreamActivity" />
        <activity android:name=".activity.CircleLineActivity" />
        <activity android:name=".activity.HiFiActivity" />
        <activity android:name=".recy.ListViewActivity" />
        <activity android:name=".recy.GridViewActivity" />
        <activity android:name=".splsah.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1118191107030406#myfeaturesapp" /> <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>